# Virtual environment
venv/

# Secret config
.env

# Python cache
**/__pycache__/
**/*.py*

# Project-specific files
req-doc.pdf
pipeline/embeddings.pkl
pipeline/hotel_faiss.index

# OS-specific files
.DS_Store
Thumbs.db